<h1>Skill#new</h1>
<%= form_for(@skill, multipart: true) do |f| %>
	<div><%= f.text_field :name, placeholder: "Skill Name" %></div>
	<div><%= f.text_field :proficientcy, placeholder: "proficientcy" %></div>
	<%= f.submit 'Submit' %>
<% end %>
