<div class="myform col-sm-6" style="padding: 25px; background-color: #D9AB9A; margin-left: auto; margin-right: auto; margin-top: 50px; text-align: center;">
  
  <h2 style="margin-bottom: 20px; color: #F2F2F2; 
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;">
    <p style="font-size: 2rem">You've Strayed Off the Beaten Path</p> 
    <p style="font-size: 3rem">That Page Doesn't Exist!</p>
  </h2>
  
  <%= render "devise/shared/links" %>
  

</div>
