/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";



// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// All the sections of the site --------------------------------------------------
//

.body {
	background-color: #025952;
}

.meat {
	margin: auto;
	width: 80vw;
	height: 50vh;
}

#a1 {
	background-color: #FAE3BA;
	min-height: 400px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

#a2 {
	background-color: #fcd48d;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

#a3 {
	background-color: #FAE3BA;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
	overflow: hidden;
	margin-bottom: 0px;
}

#a4 {
	background-color: #03998d;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
//	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
	margin-top: 0px;
}

//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Elements in the canvas --------------------------------------------------
//

.canvas {
	max-width: 100%;
}

.canvas_button {
	background-color: black;
	border: 2px solid white;
	text-align: center;
	width: 320px;
	padding-top: 0px;
	padding-left: 9;
	padding-right: 5;
	padding-bottom: 9px;
	text-color: white;
	cursor: pointer;
	transition: 0.5s;
	margin-left: auto;
	margin-right: auto; 
}

.canvas_button:hover {
	background-color: green;
	border: none;
	text-align: center;
	border: 2px solid green;
}

.canvas_arrow {
	display: inline-block;
	margin: 0px;
	margin-left: 10px;
	transition: 0.5s;
	padding: 0px;
	transform: translateY(3px);
}

.canvas_button:hover .canvas_arrow {
	transform: rotate(90deg) translate(9px, -3px) ;
}

.arrowdown {
	top: 0;
	margin-top: 0;
	padding-yop: 0;
	width: 100vw;
	height: 0;
	border-style: solid;
	border-width: 100px 49.3vw 0 49.3vw;
	border-color: #FAE3BA transparent transparent transparent;
	max-width: 100%;
	margin-bottom: 30px;
}

.outter-card {
	background-color: #4c5769;
	width: 1050px;
	height: 250px;
	margin: auto;
}


.intro_name_bg {
	position: absolute;
	top: 50%;
	transform: translate(-60%, -60%);
	left: 55vw;
//	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;
	opacity: .8;
//	width: 85vh;
//	height: 25vh;
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

.intro_name {
	color: green;
}

.intro_text {
//	position: absolute;
//	top: 50%;
//	transform: translate(-50%, -50%);
//	left: 50%;
	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;

//	width: 85vh;	
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// The Navigation Bar --------------------------------------------------
//

.about_bar {
	
	background-color: #F27B35;
	font-size: 30px;
	border-bottom: 10px solid #F1523E;
}

.about {
	text-align: center;
	width: 15vw;
	color: #fffaf5;
	transition: 0.9s;
}
.about:hover {
	background-color: #15301c;
	cursor: pointer;
}

//
//:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Section One: About Me --------------------------------------------------
//


.underline {
	background-color: black;
	width: 150px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 75px;
}

.section_title {

	font-size: 75px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

.about_title { 
	text-align: center; 
	font-size: 32px;
	font-weight: bold;
}

.about_text {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
}

.about_group {
//	margin: 20px;
	display: inline-block;
	justify-content: center;
	width: 200px;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
}


.help_us {
	display: flex;
	justify-content: flex-end;
}
.help_me {
	display: inline-flex;
//	justify-content: center;
}

.about_holder {
	display: inline-flex;
	justify-content: center;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}

.intro_holder {
	display: block;
	background-color: #FAE3B;
	height: auto;
	margin-bottom: 15px;
}

#intro {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
	width: 70%;
}

.trapezoid {
	display: block;
    border-top: 110px solid #03998d;
    border-bottom: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
//    transform: translateX(-50%);
}

.creative_icon {
	transform: translate(-6px, -105px);
}

.kenetic_icon {
	transform: translate(-6px, -105px);
}

.refined_icon {
	transform: translateY(-105px);
}

.speedy_icon {
	transform: translateY(-105px);
}

.about-icon{
//	transform: translateY(-105px);
	margin: auto;
//	position: absolute;
}

.slide_left {
	position: relative;
    left: -8200px;
    width: 140px;
    animation: slide 1.5s forwards;
//    animation-delay: 2s;
}

.slide_right {
	position: relative;
    left: 8200px;
    width: 140px;
    animation: slide 1.5s forwards;
//    animation-delay: 2s;
}

@keyframes slide {
	100% { left: 0; }
}


//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Section Two: My Skills --------------------------------------------------
//

.kerron_circle {
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 92%;
    top: 50%;
    left: 50%;
}

.circle {
	border-radius: 50%;
    position: relative;
}

.about_pics {
	margin: auto;
}

.man_myth {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.myth_text {
	text-align: center;
	font-size: 22px;
}

.c1 {
    background-color: #fc866f;
    width: 350px;
    height: 350px;
    position: relative;

    margin-right: auto;
    margin-left: auto;
}

.c2 {
    background-color: #64ba44;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 95%;
    height: 95%;
    position: relative;
}

.c3 {
    background-color: #9bc9f2;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 93%;
    height: 93%;
    position: relative;
}

// skills

.skill-name {
	display: inline-block;
	background-color: red;
	text-align: center;
	margin-left: 0;
	height: 25px;
	padding-left: 0;
	position: absolute;
	width: 100px;
	left: 0;
}

.full-skill-bar {
	background-color: #F27B35;
//	width: 510px;
	width: 100%;
	height: 25px;
	overflow-y: hidden;
	margin-left: 0;
	padding-left: 0;
	clip-path: border-box;
	text-align: right;
	padding-right: 10px;
}

.skill-level {
	height: 25px; 
	position: absolute;
	background-color: #fdff94;
	display: inline-block;
	left: 0;
}

.slide-bar {
    left: -300px;
    animation: slide 1.5s forwards;
    animation-delay: 2s;
}

.skill-percent {
	right: 0;
	height: 25px;
	background-color: blue;
	padding-right: 15px;
	padding-left: 15px;
	color: white;
	display: inline-block;
	position: absolute;
	text-align: center;
}

.skill_prof {
	display: inline;
	height: 100%;
	margin: 0px;
	padding-right: 5px;
	background-color: #F27B35;
}

.a2content {
	margin: auto;

}

.a3content {
	margin: auto;

}

.skill {
	margin: auto;
	padding-bottom: 15px;
	overflow: hidden;
}

.skill_column {
	display: inline-block;
	
}

.myth_whole {
	display: inline-block;
	margin-bottom: 25px;
	
}

//
// Section 4: The Contact Form --------------------------------------------------
//

.myform {
	margin-left: 50%;
	transform: translate(-35%);
	margin-bottom: 100px;
}

.myform-info {
	height: 30px;
	width: 350px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-why {
	height: 30px;
	width: 450px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-text {
	width: 450px;
	height: 90px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-mail {
	height: 30px;
	width: 200px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.meetme {
	margin: auto;
	text-align: center;
}

.myform-button {
	
}

//
//
//


.about_pics {
	margin: auto;
}

//
// The Animation's Section --------------------------------------------------
//



//
// Section Three: Git Portfolios --------------------------------------------------
//


.project_holder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	display: inline;
}

.project_row {
	padding: 0px;
}

.row {
	position: relative;
	margin: auto;
//	left: 50%;
//	transform: translate(-50%);
}

.gitbox5 {
//	margin: auto;
	background-color: black;
	height: 300px;
	width: 400px;
	display: inline-block;
}

.top_overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
//  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.mix:hover .top_overlay {
  bottom: 50%;
  height: 50%;
}

.btm_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
//  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay {
	position: relative;
//	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .9s ease;
	transform: translateY(-300px);
	background-color: #90c489;
}

.mix:hover .overlay {
	opacity: 1;
}

.mix:hover .btm_overlay {
	height: 50%;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.text_btm {
	color: white;
	font-size: 20px;
	position: absolute;
	border: 3px solid #03998d;
	top: 50%;
	left: 50%;
	padding: 5px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	cursor: pointer;
	transition: .2s ease;
}

.text_btm:hover {
	background-color: #03998d;

}

//
// Modal for the slideshow --------------------------------------------------
//

/*.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
} */

.outer-outer {
	position: fixed;
	width: 100%;
	height: 100%;
//	background-color: black;
//	opacity: 0.5;
	top: 0;
	left: 0;
}
.outer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	top: 0;
	left: 0;
}

/* Modal Content */
.inner-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0px;
	width: 500px;
//	height: 400px
  }

.last-pic {
//	position: absolute;
//  	top: 50%;
//  	margin-top: 50%;
  	left: 0;
}

.next-pic {
//	position: absolute;
//	top: 50%;
//	margin-top: 50%;
	right: 0;
}

.next-pic,
.last-pic {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

//.born {
//	width: 400px;
//	margin: auto;
//}

.slide {
	width: 100%;
	padding: 0px;
}

.carousel-inner {
	padding: 0px;
	border-bottom: 5px solid red;
}

.carousel {
	padding: 0px;
}

//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//


//
// ::::::::::::::::::::::::::::  Project slider bar ::::::::::::::::::::::::::::::::
//


.pj_bar_div .pj_bar.active {
//	background: red;
	margin-bottom: 25px;
	height: 25px;
}

.pj_bar {
	display: inline-block;
	margin: 0px;
}

.pj_bar_div {
//	position: relative;
//	top: 50%;
	left: 0;
	transform: translateX(1px);
	display: flex;
//	justify-content: center;
}

.pj_center {
//	transform: translateX(50%);
//	left: 50%;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	display: block;
//	justify-content: center;
}

.pj_title {
	margin: 0;
}

.pj_bar_div .pj_bar .pj_title {
	display: block;
	padding: 20px;
	transition: 0.5s;
}

.pj_bar_slider {
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	left: auto;
	z-index: -1;
	transition: 0.5s;
	opacity: 0.7;
	background: red;

}

/*.pj_bar_div .pj_bar:nth-child(1).active ~ .pj_bar_slider {
	left: 0;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(2).active ~ .pj_bar_slider {
	left: 150px;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(3).active ~ .pj_bar_slider {
	left: 300px;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(4).active ~ .pj_bar_slider {
	left: 450px;
	opacity: 0.3;
} */


//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Social Media --------------------------------------------------
//

.social-media{
	background-color: #3b453a;
	height: 300px;
	width: 100%;
	max-width: 100%;
}

.go_to_top {
	height: 65px;
	width: 60px;
	background-color: green;
	transition: 0.3s;
	transform: translateY(-25px);
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.go_to_top:hover {
	background-color: red;
}

.double_delta {
	width: 100px;
	content-align: center;
	font-size: 80px;
	transform: translate(-7px, 10px) rotate(90deg);
	color: white;
}
	

.social {
//	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: red;
	margin-right: 25px;
	margin-left: 25px;
	overflow: hidden;
	transition: .5s;
	position: relative;
}

.social-block {
	display: inline-block;
	cursor: pointer;
}

.social-basic {
	display: block;
	height: 100%;
	width: 100%;
	transform: translateY(0);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.social-hover {
	display: block;
	transform: translateY(-100%);
	height: 100px;
	width: 100px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.social-pic {
	margin: auto;
}

.social-1 {
  	padding-top: 20px;
  	width: 50vw;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
}

.social-fix {
	position: absolute;
	display: block;
	transform: translateX(-50%);
	left: 50%; 
}

.copywrite {
	position: absolute;
	left: 50%;
 	transform: translateX(-50%); 
}