/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";

.canvas {
	max-width: 100%;
}

.arrowdown {
	top: 0;
	margin-top: 0;
	padding-yop: 0;
	width: 100vw;
	height: 0;
	border-style: solid;
	border-width: 100px 49.3vw 0 49.3vw;
	border-color: #FAE3BA transparent transparent transparent;
	max-width: 100%;
	margin-bottom: 30px;
}

.outter-card {
	background-color: #4c5769;
	width: 1050px;
	height: 250px;
	margin: auto;
}

//
// All the sections of the site
//

.body {
	background-color: #025952;
}

.meat {
	margin: auto;
	width: 80vw;
	height: 50vh;
}

#a1 {
	background-color: #FAE3BA;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#a2 {
	background-color: #fcd48d;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#a3 {
	background-color: #FAE3BA;
	min-height: 500px;
	width: 100vw;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
}

#a4 {
	background-color: #03998d;
	min-height: 500px;
	max-width: 100%;
//	padding-top: 30px;
	padding-bottom: 30px;
}

//
// Elements in the canvas
//

.intro_name_bg {
	position: absolute;
	top: 50%;
	transform: translate(-60%, -60%);
	left: 55vw;
	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;
	opacity: .8;
	width: 85vh;
	height: 10vh;
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

.intro_name {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;

	width: 85vh;	
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

//
// The Navigation Bar
//

.about_bar {
	background-color: #F27B35;
	font-size: 30px;
	border-bottom: 10px solid #F1523E;
}

.about {
	text-align: center;
	width: 15vw;
	color: #fffaf5;
	transition: 0.9s;
}
.about:hover {
	background-color: #15301c;
	cursor: pointer;
}

//
//
//

//
// Section One: About Me
//

#intro {
	text-align: center;
//	padding-top: 50px;
//	padding-bottom: 100px;
//	height: 50px;
	margin: auto;
	width: 70%;
}

//
//
//

//
// Section Two: My Skills
//

.kerron_circle {
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 92%;
    top: 50%;
    left: 50%;
}

.circle {
	border-radius: 50%;
    position: relative;
}

.about_pics {
	margin: auto;
}

.c1 {
    background-color: #fc866f;
    width: 350px;
    height: 350px;
    position: relative;
}

.c2 {
    background-color: #64ba44;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 95%;
    height: 95%;
    position: relative;
}

.c3 {
    background-color: #9bc9f2;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 93%;
    height: 93%;
    position: relative;
}

// skills

.skill-name {
	background-color: red;
	text-align: center;
	margin-left: 0;
	height: 25px;
	padding-left: 0;
	position: absolute;
	width: 150px;
	left: 0;
}

.full-skill-bar {
	background-color: #F27B35;
	width: 500px;
	height: 25px;
	overflow-y: hidden;
	margin-left: 0;
	padding-left: 0;
	clip-path: border-box;
}

.skill-level {
	height: 25px; 
	position: absolute;
	background-color: #fdff94;
	display: inline-block;
	left: 0;
}

.slide-bar {
    left: -300px;
    animation: slide 1.5s forwards;
    animation-delay: 2s;
}

.skill-percent {
	right: 0;
	height: 25px;
	background-color: blue;
	padding-right: 15px;
	padding-left: 15px;
	color: white;
	display: inline-block;
	position: absolute;
	text-align: center;
}

.a1content {
	margin: auto;
}

.a3content {
	margin: auto;
}

.skill {
	margin: auto;
	padding-bottom: 15px;
	overflow: hidden;
}

.slide {
	position: relative;
    left: -8200px;
    width: 100vw;
    animation: slide 1.5s forwards;
    animation-delay: 2s;
}

//
// Section 4: The Contact Form
//

.myform {
	margin-left: 50%;
	transform: translate(-35%);
	margin-bottom: 100px;
}

.myform-info {
	height: 30px;
	width: 350px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-why {
	height: 30px;
	width: 450px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-text {
	width: 450px;
	height: 90px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-mail {
	height: 30px;
	width: 200px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.meetme {
	margin: auto;
	text-align: center;
}

.myform-button {
	
}

//
//
//


.about_pics {
	margin: auto;
}

//
// The Animation's Section
//

@keyframes slide {
	100% { left: 0; }
}

//
// Section Three: Git Portfolios
//


.row {
	position: relative;
	margin: auto;
//	left: 50%;
//	transform: translate(-50%);
}

.gitbox5 {
//	margin: auto;
	background-color: black;
	height: 300px;
	width: 300px;
	display: inline-block;
}

.top_overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
//  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.mix:hover .top_overlay {
  bottom: 50%;
  height: 50%;
}

.btm_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
//  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: #90c489;
}

.mix:hover .overlay {
	opacity: 1;
}

.mix:hover .btm_overlay {
  height: 50%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_btm {
  color: white;
  font-size: 20px;
  position: absolute;
  border: 3px solid #03998d;
  top: 50%;
  left: 50%;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  transition: .2s ease;
}

.text_btm:hover {
	background-color: #03998d;

}

//
// Modal for the slideshow
//

/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

.outer-outer {
  position: fixed;
  width: 100%;
  height: 100%;
//  background-color: black;
//  opacity: 0.5;
  top: 0;
  left: 0;
}
.outer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
}

/* Modal Content */
.inner-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 25px;
  width: 500px;
  height: 400px
  }

  //
  //
  //

  //
  // Social Media
  //

.social-media{
	background-color: #3b453a;
	height: 300px;
}

.social {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  margin-right: 50px;
  margin-left: 0;
  overflow: hidden;
  transition: .5s;
}

.social-hover {
  tansform: translateY(-100%);
  height: 100px;
  width: 100px;
  background-color: green;
}

.social-row {
  	position: relative;
  	left: 50%;
  	transform: translateX(-25%);
  	padding-top: 20px; 
 }


.copywrite {
	left: 50%;
  	transform: translateX(-50%); 
}