/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap";



// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// All the sections of the site --------------------------------------------------
//

.body {
	background-color: #6D898C;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
//	min-width: 99vw;
//	max-width: 95vw;

}

#a0 {
	background-color: #586e70;
}

#a1 {
	background-color: #fcfcfc;
	min-height: 400px;
//	width: 100vw;
//	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

#a2 {
	background-color: #fceccf;
	min-height: 500px;
//	width: 100vw;
//	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

#a3 {
	background-color: #fcfcfc;
	min-height: 500px;
//	width: 100vw;
//	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
	overflow: hidden;
	margin-bottom: 0px;
}

#a4 {
	background-color: #fceccf;
	min-height: 500px;
//	width: 100vw;
//	max-width: 100%;
	padding-bottom: 30px;
	overflow: hidden;
	margin-top: 0px;
	border-top-color: #fcfcfc;
	border-top: 1px;
}

//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Elements in the canvas --------------------------------------------------
//

.canvas {
	max-width: 100%;
}

.canvas_button {
	background-color: black;
	border: 2px solid #F2F2F2;
	text-align: center;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 9px;
	text-color: #F2F2F2;
	cursor: pointer;
	width: 55%;
	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	
	margin-left: auto;
	margin-right: auto; 
}

.canvas_button:hover {
	background-color: #6D898C;
	text-align: center;
	border: 2px solid #6D898C;
}

.canvas_arrow {
	display: inline-block;
	margin: 0px;
	margin-left: 10px;
	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	
	padding: 0px;

	transform: translate(0px, 3px);
	-webkit-transform: translate(0px, 3px);
	-ms-transform: translate(0px, 3px);
}

.canvas_button:hover .canvas_arrow {
	transform: rotate(90deg) translate(3px, 0px);
	-webkit-transform: rotate(90deg) translate(3px, 0px);
	-ms-transform: rotate(90deg) translate(3px, 0px);
}

.arrowdown {
	top: 0;
	margin-top: 0;
	padding-yop: 0;
	width: 100vw;
	height: 0;
	border-style: solid;
	border-width: 100px 49.3vw 0 49.3vw;
	border-color: #fcfcfc transparent transparent transparent;
	max-width: 100%;
	margin-bottom: 30px;
}

.outter-card {
	background-color: #4c5769;
	width: 1050px;
	height: 250px;
	margin: auto;
}


.intro_name_bg {
	position: absolute;
	top: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	left: 50vw;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;
	opacity: .8;
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

.intro_name {
	color: #6D898C;
}

.intro_text {
	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// The Navigation Bar --------------------------------------------------
//

.about_bar {	
	background-color: #BF6F7E;
	border-bottom: 5px solid #6D898C;
	min-height: 50px;

}

.mobile_about_bar {
	background-color: #BF6F7E;
	padding-left: 10px;
}

.burger_holder {
	position: relative;
	margin-right: 30px;
	margin-left: auto;
	padding-top: 4px;
}

.hamburger {
	height: 3px;
	width: 18px;
	background-color: black;
	margin-bottom: 3px;
}

.about {
	text-align: center;
	width: 15vw;
	color: #fffaf5;

	transition: 0.9s;
	-webkit-transition: 0.9s;
}

.about:hover {
	background-color: #6D898C;
	cursor: pointer;
}

//
//:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Section One: About Me --------------------------------------------------
//


.underline {
	background-color: #BF6F7E;
	width: 150px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
}

.section_title {
	color: #6D898C;
	font-size: 75px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

.about_title { 
	text-align: center; 
	font-size: 32px;
	font-weight: bold;
	color: #D9AB9A;
}

.about_text {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	color: #BF6F7E;
}

.about_group {
	display: inline-block;
	justify-content: center;
	width: 200px;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}


.help_us {
	display: flex;
	display: -webkit-flex;

	justify-content: flex-end;
	justify-content: -webkit-flex-end;
}

.help_me {
	display: inline-flex;
	display: -webkit-inline-flex;
}

.about_holder {
	display: inline-flex;
	display: -webkit-inline-flex;
	
	justify-content: center;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}

.intro_holder {
	display: block;
	background-color: #FAE3B;
	height: auto;
	margin-bottom: 45px;
}

#intro {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
	width: 70%;
}

.trapezoid {
	display: block;
    border-top: 110px solid #6D898C;
    border-bottom: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.creative_icon {
	height: 100px;
	width: auto;

	transform: translate(-6px, -105px);
	-webkit-transform: translate(-6px, -105px);
	-ms-transform: translate(-6px, -105px);
}

.kenetic_icon {
	transform: translate(-6px, -105px);
	-webkit-transform: translate(-6px, -105px);
	-ms-transform: translate(-6px, -105px);
}

.refined_icon {
	transform: translateY(-105px);
	-webkit-transform: translateY(-105px);
	-ms-transform: translateY(-105px);
}

.speedy_icon {
	transform: translateY(-105px);
	-webkit-transform: translateY(-105px);
	-ms-transform: translateY(-105px);
}

.about-icon{
	margin: auto;
}

.slide_left {
	position: relative;
    left: -8200px;
    width: 140px;
    animation: slide 1.5s forwards;
}

.slide_right {
	position: relative;
    left: 8200px;
    width: 140px;
    animation: slide 1.5s forwards;
}

@keyframes slide {
	100% { left: 0; }
}


//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Section Two: My Skills --------------------------------------------------
//

.kerron_circle {
    border-radius: 50%;
    position: relative;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    width: 92%;
    height: 92%;
    top: 50%;
    left: 50%;
}

.circle {
	border-radius: 50%;
    position: relative;
}

.about_pics {
	margin: auto;
}

.man_myth {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #BF6F7E;
}

.myth_text {
	text-align: center;
	font-size: 22px;
	color: #6D898C;
}

.c1 {
    background-color: #d4d4d4;
    width: 350px;
    height: 350px;
    position: relative;

    margin-right: auto;
    margin-left: auto;
}

.c2 {
    background-color: #BF6F7E;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    top: 50%; 
    left: 50%;
    width: 95%;
    height: 95%;
    position: relative;
}

.c3 {
    background-color: #6D898C;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    top: 50%; 
    left: 50%;
    width: 93%;
    height: 93%;
    position: relative;
}

// skills

.skill-name {
	display: inline-block;
	background-color: #d4d4d4;
	text-align: center;
	margin-left: 0;
	height: 25px;
	padding-left: 0;
	position: absolute;
	width: 100px;
	left: 0;
	color: white;
}

.full-skill-bar {
	background-color: #BF6F7E;
//	width: 510px;
	width: 100%;
	height: 25px;
	overflow-y: hidden;
	margin-left: 0;
	margin-bottom: 15px;
	padding-left: 0;
	clip-path: border-box;
	text-align: right;
	padding-right: 6px;
}

.skill-level {
	height: 25px; 
	position: absolute;
	background-color: #6D898C;
	display: inline-block;
	left: 0;
}

.slide-bar {
    left: -350px;
//    animation: slide 1.5s forwards;
//    animation-delay: 2s;
}

.skill-percent {
	right: 0;
	height: 25px;
	background-color: blue;
	padding-right: 15px;
	padding-left: 15px;
	color: #F2F2F2;
	display: inline-block;
	position: absolute;
	text-align: center;
}

.skill-prof {
	display: inline;
	height: 100%;
	margin: 0px;
	color: white;
}

.a2content {
	margin: auto;

}

.a3content {
	margin: auto;

}

.skill {
	margin: auto;
	padding-bottom: 15px;
	overflow: hidden;
}

.skill_column {
	display: inline-block;
	
}

.myth_whole {
	display: inline-block;
	margin-bottom: 25px;
	
}

//
// Section 4: The Contact Form --------------------------------------------------
//

.form {
	color: #6D898C;
	background-color: #F2F2F2;
	border: none;
}

.myform {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.myform-info {
	height: 30px;
	width: 75%;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-why {
	height: 30px;
	width: 100%;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-text {
	width: 100%;
	height: 90px;
	padding-left: 10px;
	margin-bottom: 12px;
}

.myform-mail {
	height: 30px;
	width: 65%;
	padding-left: 10px;
	margin-bottom: 12px;
}

.meetme {
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

.myform-button {

	border: 2px solid #BF6F7E;
	background-color: #F2F2F2;
	color: #BF6F7E;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.myform-button:hover {
	background-color: #BF6F7E;
	color: #F2F2F2;
}



.t-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  height: 2px;
}

.t-tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #BF6F7E;
  color: #F2F2F2;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.t-tooltip:hover .tooltiptext {
  visibility: visible;
}



//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//



//
// Section Three: Git Portfolios --------------------------------------------
//


.project_holder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	display: inline;
}

.project_row {
	padding: 0px;
}

.row {
	position: relative;
	margin: auto;
}

.gitbox5 {
	background-color: black;
	height: 300px;
	width: 400px;
	display: inline-block;
}

.top_overlay {
  position: absolute;
  bottom: 100%;
  padding-top: 30px;
  left: 0;
  right: 0;

  overflow: hidden;
  width: 100%;
  height:0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.mix:hover .top_overlay {
  bottom: 50%;
  height: 50%;
}

.btm_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 40px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  text-align: center;
}

.overlay {
	position: relative;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.9s ease;
	-webkit-transition: 0.9s ease;
	
	transform: translateY(-300px);
	-webkit-transform: translateY(-300px);
	-ms-transform: translateY(-300px);

	background-color: #F2F2F2;
}

.mix:hover .overlay {
	opacity: 1;
}

.mix:hover .btm_overlay {
	height: 50%;
}

.text {
	color: #6D898C;
	font-size: 20px;
	position: relative;
	text-align: center;
}

.text_btm {
	position: relative;
	display: inline-block;
	color: #6D898C;
	font-size: 20px;
	border: 3px solid #6D898C;
	padding: 5px;
	cursor: pointer;
	transition: .2s ease;
	-webkit-transition: .2s ease;
}

.text_btm:hover {
	background-color: #6D898C;
	color: #F2F2F2;
}

//
// Modal for the slideshow --------------------------------------------------
//

/*.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
} */

.outer-outer {
	position: fixed;
	width: 100%;
	height: 100%;
//	background-color: black;
//	opacity: 0.5;
	top: 0;
	z-index: +2;
	left: 0;
}
.outer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	top: 0;
	left: 0;
}

/* ---------------- Modal Content ----------------- */


.inner-content {
	position: relative;
	background-color: #F2F2F2;
	margin: auto;
	padding: 0px;
	width: 70%;
	overflow: hidden;
  }

.last-pic {
  	left: 0;
}

.next-pic {
	right: 0;
}

.next-pic,
.last-pic {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;

  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
    
  user-select: none;
  -webkit-user-select: none;
}

.modal_content {
	height: 100%;
}


.modal_text {
	width: 100%; 
	padding-right: 15px; 
	padding-left: 15px; 
}

.modal_text_name {
	width: 100%;
	padding-bottom: 5px; 
	padding-right: 15px; 
	margin-left: 15px; 
	color: #6D898C; 
}

.modal_text_extra {
	width: 60%;
	color: #D9AB9A;
	border-top: 2px solid #D9AB9A;
	margin-left: 15px;
}

.slide {
	width: 100%;
	padding: 0px;
}

.carousel-inner {
	padding: 0px;
	border-bottom: 5px solid #BF6F7E;
}

.carousel {
	padding: 0px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#BF6F7E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#BF6F7E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.modal_exit {
	font-size: 40px;
	margin-right: 0px; 
	color: #b0b0b0;
	cursor: pointer;
}

.top_modal_cont {
	height: 100%;
//	bottom: 0px;

//	justify-content: flex-end;
//	justify-content: -webkit-flex-end;
//	justify-content: -moz-flex-end;
}

.modal_cont {
	display: block;
	position: relative;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	bottom: 0px;


}

.modal_cont_row {	
	display: flex;
	display: -webkit-flex;
	
	padding: 0px;
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
	width: 100%;
	height: 100%;
}

.modal_cont_row_child {
	display: flex;
	display: -webkit-flex; 

	justify-content: flex-start;
	justify-content: -webkit-flex-start;
	justify-content: -moz-flex-start;
}

.modal_cont_row_child2 {
	display: flex;
	display: -webkit-flex;

	right: 0px;

	justify-content: flex-end;
	justify-content: -webkit-flex-end;
	justify-content: -moz-flex-end;
}

.modal_atag {
	display: inline-block;
}

.modal_button {
	border: 3px solid #BF6F7E;
	background-color: #BF6F7E;
	width: 150px;
	text-align: center;
	color: #F2F2F2;
	margin: 20px;
	margin-left: 0;
}

.modal_button:hover {
	border: #F2F2F2;
	background-color: #F2F2F2;
	color: black;
}

//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//


//
// ::::::::::::::::::::::::::::  Project slider bar ::::::::::::::::::::::::::::::::
//


.pj_bar_div .pj_bar.active {
//	background: #BF6F7E;
	margin-bottom: 25px;
	height: 25px;
}

.pj_bar {
	display: inline-block;
	margin: 0px;
}

.new_pj_bar {
	display: inline-block;
	justify-content: center;
	width: 200px;
	top: 0px;
	z-index: +1;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.pj_bar_div {
	left: 0;

	transform: translateX(1px);
	-webkit-transform: translateX(1px);
	-ms-transform: translateX(1px);

	display: flex;
	display: -webkit-flex;
}

.pj_center {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	display: block;
}

.pj_title {
	margin: 0;
	text-align: center;
}

.pj_bar_div .pj_bar .pj_title {
	display: block;
	padding: 20px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.pj_bar_slider {
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	left: auto;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	opacity: 0.7;
	background: #fceccf;
}

.new_pj_bar_slider {
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	left: auto;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	opacity: 0.7;
	background: #BF6F7E;
}

/*.pj_bar_div .pj_bar:nth-child(1).active ~ .pj_bar_slider {
	left: 0;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(2).active ~ .pj_bar_slider {
	left: 150px;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(3).active ~ .pj_bar_slider {
	left: 300px;
	opacity: 0.3;
}

.pj_bar_div .pj_bar:nth-child(4).active ~ .pj_bar_slider {
	left: 450px;
	opacity: 0.3;
} */


//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//

//
// Social Media --------------------------------------------------
//

.social-media{
	background-color: #6D898C;
	height: 300px;
	width: 100%;
	max-width: 100%;
}

.go_to_top {
	height: 60px;
	width: 60px;
	background-color: #F2F2F2;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	
	transform: translateY(-25px);
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);

	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
//	align-content: center;
}

.go_to_top:hover {
	background-color: #d4d4d4;
}

.double_delta {
//	position: absolute;
	position: relative;
	width: 60px;
	height: 60px;
	font-size: 80px;

	transform: translate(50%, 11px) rotate(90deg);
	-webkit-transform: translate(50%, 10px) rotate(90deg);
	-ms-transform: translate(50%, 10px) rotate(90deg);

	color: #BF6F7E;
}
	

.social {
	height: 70px;
	width: 70px;
	background-color: #BF6F7E;
	overflow: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	position: relative;
}

.social-block {
	cursor: pointer;

	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;

	align-items: center;
	margin-left: 2%;
	margin-right: 2%;
	width: 70px;
	height: 70px;


}

.social-basic {
	display: block;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;

	transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);

	position: absolute;
}

.social-hover {
	display: block;

	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);

	height: 70px;
	width: 70px;
	position: absolute;
}

.social-1 {
  	padding-top: 20px;
  	max-width: 100vw;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
}

.social-fix {
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	display: -webkit-flex;
	
	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;

	align-items: center;
	width: auto; 
}

.copywrite {
	position: absolute;
	left: 50%;

 	transform: translateX(-50%);
 	-webkit-transform: translateX(-50%);
 	-ms-transform: translateX(-50%);
}

//
// Trying For Responsive Font Sizes!
//


p{
	font-size: 1.2vw;
}

div {
	font-size: 1.2vw;	
}

h1 {
	font-size: 5vw;
}

h2 {
	font-size: 4vw;	
}

h3 {
	font-size: 3vw;	
}

h4 {
	font-size: 2vw;	
}

h5 {
	font-size: 1.5vw;	
}

h6 {
	font-size: 1vw;	
}

a {
	font-size: 1.2vw;
 }

 li {
 	font-size: 2vw;
 }

 

//
// End of Responsive Sizes ( Not needed, moved to variable sizes)
//

//
// Begin Variable Font Sizes
//

//
// If the screen size is 600px wide or less...

@media screen and (max-width: 600px) {

	p{
		font-size: 15px;
	}

	.section_title {
		font-size: 40px;
	}

	div {
		font-size: 15px;	
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 50px;	
	}

	h3 {
		font-size: 35px;	
	}

	h4 {
		font-size: 20px;	
	}

	h5 {
		font-size: 10px;	
	}

	h6 {
		font-size: 5px;	
	}

	a {
		font-size: 40px;
	}

	li {
		font-size: 20px;
	}

	.c1 {
	    width: 95%;
	}

	.about_bar {
		min-height: 30px;
	}


	.canvas_button {
		padding-bottom: 2px;
		width: 100%;
	}

	.canvas_button:hover {
		background-color: black;
		border: none;
		text-align: center;
		border: 2px solid #F2F2F2;
	}

	.canvas_button:hover .canvas_arrow {
		transform: rotate(90deg) translate(0px, 5px);
		-webkit-transform: rotate(90deg) translate(0px, 5px);
		-ms-transform: rotate(90deg) translate(0px, 5px);
	}

// ------ "View Code" & Exit button of the modal

	.modal_cont {
		position: absolute;
	}

	.modal_cont_row_child {
		width: 50%;
	}

	.modal_cont_row_child2 {
		width: 50%;
	}

}



//
// End Variable Font Sizes
//