<!DOCTYPE html>
<html>
  <head>
    <title>Portsite3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= yield %>

    <div class="social-media">    	
	    <div class="social-row">
	    	<div id="linked" class="social"><div class="social-hover"></div></div>
	    	<div id="git" class="social"><div class="social-hover"></div></div>
	    	<div id="twitter" class="social"><div class="social-hover"></div></div>
	    	<div id="insta" class="social"><div class="social-hover"></div></div>
	    </div>
	    <div class="copywrite col-sm-3">KERRON STREATER ©2019</div>
	</div>
  
  </body>
</html>
