<!DOCTYPE html>
<html>
  <head>
    <title>Portsite3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= yield %>

    <div class="social-media">    	
	    <div class="row social-row col-sm-7">
	    	<div class="social"><div class="social-hover"></div></div>
	    	<div class="social"><div class="social-hover"></div></div>
	    	<div class="social"><div class="social-hover"></div></div>
	    	<div class="social"><div class="social-hover"></div></div>
	    </div>
	</div>
  
  </body>
</html>
